$accent: #436372;
$title: #243f4d;
$nav: #8b8b8b;

%dmsans-400 {
  font-family: 'DMSans-VariableFont_opsz.wght', sans-serif;
  font-weight: 400;
}

%myriadpro-400 {
  font-family: 'MYRIADPRO-REGULAR', sans-serif;
  font-weight: 400;
}

%poppins-700 {
  font-family: 'Poppins-Bold', sans-serif;
  font-weight: 700;
}
%rubik-400 {
  font-family: 'Rubik-Regular', sans-serif;
  font-weight: 400;
}
%rubik-500 {
  font-family: 'Rubik-Medium', sans-serif;
  font-weight: 500;
}